.Table-name {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 75px;
    color: #fff; 
    font-size: 64px;
}


table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.2);
    border: none;
}

thead, tr{
    background-color: #0EC86F;
    color: #726969;
    text-align: left;
    border: none;
}
  
th, td {
    padding: 12px 15px;
    border: none;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
  
tbody tr:hover {
    background-color: #ddd;
}

.Edit, .Delete {
    background: none;
    border: none; 
    cursor: pointer;
    font-size: 1.2em;
    color: #000;
}


