 :root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}
.modalForm{
  position: absolute;
}
.ModalFormCard{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 429px;
  background-color: #fff;
  border: none;
}
h1 {
  margin-left: 25px;
}

.modal-form-lebel  {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  margin-top: 1rem;
  margin-left: 30px;
}

.modal-text-input {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  margin-left: 25px;
  width: 360px;
}

.descrField{
    width: 361px;
    height: 117px;
    margin-bottom: 18px;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    background-color: var(--gray-100);
    color: var(--gray-800);
    border-radius: 10px;
    margin-left: 25px;
}
.modalFormButtons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 14px;
}
.cancelButton{
  right: 10px;
}
.modal-form-error {
  color: var(--red);
  margin-left: 25px;
}
.modal-form-error-input  {
  border-color: var(--red-500);
}
  