.ProductTable{
    min-height: 100vh;
    background-attachment: fixed;
    background-color: #44B26F;
    padding-top: 31px;
}

.Product-logo {
    margin-top: 20px;
    margin-left: 29px;
}

.Product-button {
    display: flex;
    justify-content: space-between;
    margin: 0px 77px 0 70px; 
}
