.Card {
    display: block;
    margin: 0 auto;
    height: 670px;
    width: 500px;
    background-color: #F5F5F5;
     padding-top: 30px;
}

.Card-logo {
   display: flex;
    justify-content: center;
    color: #44B26F;
    font-size: 34px;
}

.Input-login,.Input-password {
    position: relative;
    margin-top: 85px;
    margin-left: 116px;
}

.Input-password {
    margin-top: 46px;
}


.Card-button {
    margin-top: 37px;
    margin-left: 116px;
}
.error{
    color: red;
}