.Card {
    display: block;
    margin: 0 auto;
    height: 670px;
    width: 500px;
    background-color: #F5F5F5;
}

.Card-logo {
    margin-top: 80px;
    margin-left: 135px;
   
}

.Input-login,.Input-password {
    position: relative;
    margin-top: 85px;
    margin-left: 116px;
}

.Input-password {
    margin-top: 46px;
}


.Card-button {
    margin-top: 37px;
    margin-left: 116px;
}
.error{
    color: red;
}